<h4><%= link_to("<< Home", root_path)%></h4>
<h1>Patients</h1>

<ul>
  <% @patients.each do |patient| %>

    <li><%= link_to(patient.person.firstName + " " + patient.person.lastName, patient_path(patient))  %></li>
  <% end %>
</ul>
